$color-azul: #4b9ae5;
$color-azul-oscuro: #003566;
$color-amarillo: #FFC300;
$color-amarillo-claro: #FFD60A;
$color-naranja: #FF5733;
$color-texto: #333;
$color-texto-secundario: #555;
$color-texto-terciario: #777;
$fuente-principal: 'Merriweather', sans-serif;
$border-radius: 10px;
